* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* navbar */
.navbar.navbar-dark.bg-dark {
    background-color: thistle !important;
    padding: 15px !important;
    color: white !important;
}

#logo {
    float: left !important;
    text-decoration: none !important;
    color: white !important;
}

#notes {
    float: right !important;
    text-decoration: none !;
    color: white;
}

.material-icons {
    color: white !important;
}

#save {
    margin-right: 15px;
}

.material-icons:hover {
    visibility: visible;
    cursor: pointer;
    opacity: .5;
}

/* Note Container */
.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin: 0 !important;
}

.note-textarea, .note-title {
    float: left;
    color: #000000;
    width: 100%;
    outline: none;
    border: none;
}
  
.note-textarea {
    resize: none;
    height: calc(80vh - 63px);
    padding-top: 15px;
}
  
.note-title {
    height: 50px;
    margin-top: 13px;
    font-size: 3rem;
}
  
  /* .note-title:read-only, .note-textarea:read-only {
    color: #757575;
  } */

.col-4.list-container {
    height: calc(100vh - 70px);
    padding: 0 !important;
    margin: 0 !important;
    border-left: rgb(228, 228, 228) solid 2px !important;
    position: absolute !important;
    right: 0 !important;
    -webkit-box-orient: horizontal !important;
}

.list-group {
    padding: 0 !important;
    -webkit-box-orient: horizontal !important;
}

.list-container i {
    font-size: 1.1rem !important;
    cursor: pointer;
    padding: 15px !important;
    border: white 1px solid !important;
    border-radius: 0% !important;
    font-style: normal !important;
}

#delete {
    color: black !important;
    float: right !important;
}